.custom-nav-container .header-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #374151;
}
body {
    font-family: "DM Sans";
  }
.date-picker {
  box-shadow: none !important;
}
.header-section {
  border-bottom: 1px solid #fefeff;
  background-color: #fff !important;
  box-shadow: 0px 2px 3px rgba(82, 93, 107, 0.09);
}

.date-picker:focus {
  box-shadow: none !important;
}
.form-control:focus {
  color: #212529;
  border: 0px solid #fff;
  outline: 0;
  box-shadow: none;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #f9fafb !important;
  border: 0px solid #ced4da !important;
  border-radius: 0.25rem;
}

.custom-nav-container .header-link-unselected {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #9ca3af;
}

.header-connect-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 8px 20px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#3d97c9),
    color-stop(0.01%, #4a89b1),
    color-stop(120.41%, #e1dcdc)
  );
  background: linear-gradient(
    360deg,
    #3d97c9 0%,
    #4a89b1 0.01%,
    #e1dcdc 120.41%
  );
  border-radius: 10px;
}

.card {
  width: 430px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(82, 93, 107, 0.4);
  border-radius: 28px;
  border: none;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px solid #fff !important;
  border-radius: 28px !important;
}

.stake-container {
  width: 100%;
  background: #f9fafb;
  border: 0.6px solid #e5e7eb;
  border-radius: 12px;
  padding: 2px 16px;
}

.stake-container span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #4b5563;
}

.stake-container .btn-group button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.stake-container-2 {
  max-width: 100%;
  height: 83px;
  background: #f9fafb;
  border: 0.6px solid #e5e7eb;
  border-radius: 12px;
  padding: 2px 16px;
}

.stake-container-2 span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #4b5563;
}

#quantity {
  border: 0px;
  background-color: #f9fafb;
  width: 48.15px;
}

#quantity:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.swap-heading {
  padding-bottom: 9px;
}

.swap-heading span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #9ca3af;
}

.date-container {
  width: 100%;
  background: #f9fafb;
  border: 0.6px solid #e5e7eb;
  border-radius: 12px;
  padding: 2px 16px;
}

.date-container .date-container-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #4b5563;
}

.date-container input {
  border: none;
  background: #f9fafb;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

.card-connect-btn {
  width: 100%;
  height: 54px;
  margin-top: 10px;
  background: #dee9ff;
  border-radius: 10px;
  border: transparent;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #3f92f4;
}

input:focus-visible {
  outline: 0px;
}
